.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  /* position: absolute; /* Set the position to absolute */
  /* top: 50%; Set the top position to 50% */
  /* left: 50%; Set the left position to 50% */
  /* transform: translate(-50%, -50%); Translate the div to center it */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 420px;
  margin: auto;
}

.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.flex-container {
  display: flex;
  text-align: center;
  margin-top: '70px';
}

.flex-child {
  flex: 1;
  border: 2px solid yellow;
}  

.flex-child:first-child {
  margin-right: 20px;
} 

.grid-container {
  display: grid;
  grid-template-columns: 50fr 80fr;
  text-align: center;
  margin-top: 70px;
}